
.vs/Tyuiu.ZaharovVV.Sprint1/v17/Browse.VC.opendb
.vs/Tyuiu.ZaharovVV.Sprint1/FileContentIndex/9c1fef5f-af70-4ec7-997e-29895658b865.vsidx
.vs/Tyuiu.ZaharovVV.Sprint1/FileContentIndex/52adbc72-19da-4db8-a63e-ef7015f2b8f6.vsidx
.vs/Tyuiu.ZaharovVV.Sprint1/FileContentIndex/5fd59860-24b7-4392-b2fc-550687da5f81.vsidx
.vs/Tyuiu.ZaharovVV.Sprint1/FileContentIndex/74e5aa8f-7e1e-4153-95e8-89646d14a6f9.vsidx
.vs/Tyuiu.ZaharovVV.Sprint1/FileContentIndex/ce00dbc0-aeee-42b0-afd5-dcf4bc014b0a.vsidx
/.vs/Tyuiu.ZaharovVV.Sprint1/FileContentIndex
